body {
    background-color : #CCD1D4;
    color: #48484F;
    padding: 0 25px;
}

.song {
    padding: 0.5em 0 0.5em 0;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.song h1,
.song input {
    font-size: 2em;
    font-weight: bold;
    margin: 0.6em 0;
}

.song .edit {
    display: none;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    outline: none;
    padding: 0;
}

.song.editing .title {
    display: none;
}

.song.editing .edit {
    display: block;
}

.row-container {
    display: flex;
    justify-content: space-between;
}

section {
    background-color: #F0F2EC;
    border-radius: 4px;
    box-shadow: 0px 2px 0px 2px #C2C7C9;
    padding: 0.5em;
    margin: 6px 0;
}

section h2 {
    margin-top: 0;
}

.row-container section {
    flex: 1;
    margin: 6px 3px;
}

.row-container section:first-child{
    margin-left: 0;
}

.row-container section:last-child{
    margin-right: 0;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radio-group.step {
    flex-direction: column;
}

.radio-group span {
    flex: 1 0 auto;
    min-width: 6em;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    margin: 1px;
    background: white;
    font-size: 0.6em;
    letter-spacing: 0.125em;
}

.radio-group span:hover {
    background: black;
    color: white;
}

.radio-group span.selected {
    background: #91ff13;
    color: black;
}

#sequencer-container {
    display: flex;
    padding: 0 5px;
}

.chord-sequencer {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    background-color: #C2C7C9;
    border-radius: 4px;
    border: 1px inset #d5e0e5;
    margin: 0;
    position: relative;
    flex-basis: 100%;
    height: 300px;
}

.chord-sequencer .radio-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.chord-sequencer .radio-group span {
    min-width: 0;
    width: 100%;
}

chord {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    background-color: #F0F2EC;
    padding: 1em;
    border-radius: 4px;
    box-shadow: none;
    height: calc(100% - 2em);
    top: 1em;
    z-index: 1001;
}

chord.dragging {
    z-index: 1500;
    opacity: 0.5;
}

chord.playing {
    -webkit-animation-name: chord-playing;
            animation-name: chord-playing;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

@-webkit-keyframes chord-playing {
  from {
    background-color: #646562;
  }
  
  to {
    background-color: #F0F2EC;
  }
}

@keyframes chord-playing {
  from {
    background-color: #646562;
  }
  
  to {
    background-color: #F0F2EC;
  }
}

chord.background {
    z-index: 1000;
    padding: 0;
}

chord.background:nth-child(8n+1),
chord.background:nth-child(8n+2),
chord.background:nth-child(8n+3),
chord.background:nth-child(8n+4)
{
    background-color: hsl(197,6%,69%);
}

chord.background:nth-child(8n+5),
chord.background:nth-child(8n+6),
chord.background:nth-child(8n+7),
chord.background:nth-child(8n+8)
{
    background-color: hsl(197,6%,63%);
}

.drag-zone {
    position: absolute;
    cursor: ew-resize;
    top: 0;
    bottom: 0;
    width: 5px;
}

.drag-zone-left {
    left: 0;
}

.drag-zone-right {
    right: 0;
}

#position-indicator {
    position : absolute;
    bottom: 0px;
    -webkit-transform : translateX(-50%);
            transform : translateX(-50%);
    color: #000000;
    z-index: 1002;
}

.scroll-indicator {
    position: relative;
    opacity: 0.65;
    background-color: #0a0a0a;
    color: #F0F2EC;
    z-index: 2000;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 1px;
    transition: opacity 0.4s;
}

.scroll-indicator.hidden {
    opacity: 0;
}

#transport {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

#transport > div {
    display: inline-block;
    width: 50%;
}

counter {
    display: block;
    margin: 0;
    font-family: monospace;
    font-size: 1.5em;
}

button {
    border-radius: 2px;
    margin: 1px;
}

button:focus {
    outline: none;
}

#bpm-control {
    text-align: right;
    min-width: 2.5em;
    font-weight: bold;
    font-variant: small-caps;
}

#bpm-control span {
    cursor: pointer;
}

#bpm-control span::after {
  content: "\A";
  white-space: pre;
}

.checkbox {
    font-size: .75em;
    font-weight: bold;
    font-variant: small-caps;
    vertical-align: baseline;
}

.footer {
    padding: 2em 0;
    text-align: center;
    font-size: x-small;
    color: #a0aab0;
}

.footer a {
    color: #a0aab0;
}

.footer a:hover {
    color: #48484f;
}