body {
    background-color : #CCD1D4;
    color: #48484F;
    padding: 0 25px;
    -webkit-user-select: none;    
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.song {
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
}

.song>* {
    margin: 0.25em auto;
    width: 900px;
    box-sizing: border-box;
}

.song h1,
.song input {
    font-size: 2em;
    font-weight: bold;
}

.song .edit {
    display: none;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    outline: none;
    padding: 0;
}

.song.editing .title {
    display: none;
}

.song.editing .edit {
    display: block;
}

.row-container {
    display: flex;
    justify-content: space-between;
}

section {
    background-color: #F0F2EC;
    border-radius: 4px;
    box-shadow: 0px 2px 0px 2px #C2C7C9;
    padding: 0.5em;
    margin: 0;
}

section h2 {
    margin-top: 0;
}

subsection .control>div {
    padding: 0 0.25em;
}

subsection .control div.label {
    width: 100px;
    font-variant: small-caps;
    font-weight: bold;
}

subsection .control div {
    display: flex;
}

subsection .control span,
subsection .control li {
    margin: 1px;
    padding: 5px;
    background-color: white;
    border: 1px solid #CCD1D4;
}

subsection .control ul {
    width: calc(100% - 8px);
}

subsection .control {
    padding: 0.25em;
    display: flex;
    align-items: baseline;
}

.row-container section {
    flex: 1;
    margin: 0 3px;
}

.row-container section:first-child{
    margin-left: 0;
}

.row-container section:last-child{
    margin-right: 0;
}

.transport {
    display: flex;
    font-weight: bold;
    font-variant: small-caps;
}

.transport subsection {
    flex: 1;
}

.transport subsection.transport-control {
    text-align : center;
    margin: 1px;
    padding: 5px;
}

.transport subsection.view-control .control {
    justify-content: flex-start;
}

.transport subsection.loop-control .control {
    justify-content: flex-end;
}

.transport subsection.loop-control .control div {
    text-align: right;
}

.transport subsection.loop-control .control div.label {
    text-align: left;
}

.transport subsection.view-control .control div.label {
    text-align: right;
    justify-content: flex-end;
}

.transport .counter {
    font-family: courier-prime, monospace;
}

.disabled {
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.draggable {
    cursor: pointer;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radio-group.step {
    flex-direction: column;
}

.radio-group span {
    flex: 1 0 auto;
    min-width: 6em;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    margin: 1px;
    background: white;
    font-size: 0.6em;
    letter-spacing: 0.125em;
}

.radio-group span:hover {
    background: black;
    color: white;
}

.radio-group span.selected {
    background: #91ff13;
    color: black;
}

.sequencer-container {
    display: flex;
    padding: 0 5px;
    width: 100%;
}

.chord-sequencer {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    background-color: #C2C7C9;
    border-radius: 4px;
    border: 1px inset #d5e0e5;
    margin: 0;
    position: relative;
    flex-basis: 100%;
    height: 300px;
}

.chord-sequencer .radio-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.chord-sequencer .radio-group span {
    min-width: 0;
    width: 100%;
}

chord {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    background-color: #F0F2EC;
    padding: 1em;
    border-radius: 4px;
    box-shadow: none;
    height: calc(100% - 2em);
    top: 1em;
    z-index: 1001;
}

chord.dragging {
    z-index: 1500;
    opacity: 0.5;
}

chord.playing {
    -webkit-animation-name: chord-playing;
            animation-name: chord-playing;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

@-webkit-keyframes chord-playing {
  from {
    background-color: #646562;
  }
  
  to {
    background-color: #F0F2EC;
  }
}

@keyframes chord-playing {
  from {
    background-color: #646562;
  }
  
  to {
    background-color: #F0F2EC;
  }
}

.chord-background>chord {
    z-index: 1000;
    padding: 0;
    background-color: hsl(197,6%,69%);
}

.chord-background>chord.offbeat
{
    background-color: hsl(197,6%,63%);
}

chord .control {
    font-size: .75em;
    font-weight: bold;
    font-variant: small-caps;
    vertical-align: baseline;
}

.drag-zone {
    position: absolute;
    cursor: ew-resize;
    top: 0;
    bottom: 0;
    width: 5px;
}

.drag-zone-left {
    left: 0;
}

.drag-zone-right {
    right: 0;
}

.position-indicator {
    position : absolute;
    bottom: 0px;
    /* -webkit-transform : translateX(-50%); */
    transform : translateX(-50%);
    color: #000000;
    z-index: 1002;
    will-change: transform;
}

.scroll-indicator {
    cursor: pointer;
    position: relative;
    opacity: 0.65;
    background-color: #0a0a0a;
    color: #F0F2EC;
    z-index: 2000;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 1px;
    transition: opacity 0.2s;
}

.scroll-indicator.hidden {
    opacity: 0;
    cursor: default;
}

button {
    border-radius: 2px;
    margin: 1px;
}

button:focus {
    outline: none;
}

.dropdown-menu {
    position: relative;
    cursor: pointer;
}

.dropdown-menu ul {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    top: calc(100%);
    z-index: 3000;
    width: 100%;
    list-style-type: none;
}

.dropdown-menu.open ul {
    display: block;
}

.dropdown-menu ul li:hover {
    background-color: black;
    color: white;
}

.footer {
    padding: 2em 0;
    text-align: center;
    font-size: x-small;
    color: #a0aab0;
}

.footer a {
    color: #48484f;
    opacity: 0.5;
    text-shadow: 1px 1px 0.5px #a0aab0;
}

.footer a:hover {
    opacity: 1;
}