<div class="drag-zone drag-zone-left"></div>
<div class="drag-zone drag-zone-right"></div>
<div class="seventh-control checkbox">7th <i class="seventh-checkbox fa fa-fw fa-square-o" data-value="false"></i></div>
<div class="step-group radio-group">
    <span data-value="6">VII</span>
    <span data-value="5">VI</span>
    <span data-value="4">V</span>
    <span data-value="3">IV</span>
    <span data-value="2">III</span>
    <span data-value="1">II</span>
    <span data-value="0">I</span>
</div>