<subsection class="view-control disabled">
    <div class="grid control">
        <div class="label">Grid</div>
        <div class="dropdown-menu">
            <div><span class="value">16</span><span class="fa fa-caret-down"></span></div>
            <ul>
            <li class="menu-item" data-value="16n">16</li>
            <li class="menu-item" data-value="8n">8</li>
            <li class="menu-item" data-value="4n">4</li>
            <li class="menu-item" data-value="2n">2</li>
            <li class="menu-item" data-value="1n">1</li>
            </ul>
        </div>
    </div>
    <div class="zoom control">
        <div class="label">Zoom</div>
        <div class="dropdown-menu">
            <div><span class="value">1 bar</span><span class="fa fa-caret-down"></span></div>
            <ul>
            <li class="menu-item" data-value="1m">1 bar</li>
            <li class="menu-item" data-value="2m">2 bars</li>
            <li class="menu-item" data-value="4m">4 bars</li>
            <li class="menu-item" data-value="8m">8 bars</li>
            </ul>
        </div>
    </div>
</subsection>
<subsection class="transport-control">
    <div class="play-control"><button class="start"><i class="fa fa-play"></i></button><button class="stop"><i class="fa fa-stop"></i></button></div>
    <div class="counter">00:00:00</div>
</subsection>
<subsection class="loop-control">
    <div class="tempo control">
        <div><span class="value">120</span><span> BPM</span></div>
        <div class="label">Tempo</div>
    </div>
    <div class="loop-length control">
        <div class="dropdown-menu">
            <div><span class="fa fa-caret-down"></span><span class="value">1 bar</span></div>
            <ul>
            <li class="menu-item" data-value="1m">1 bar</li>
            <li class="menu-item" data-value="2m">2 bars</li>
            <li class="menu-item" data-value="4m">4 bars</li>
            <li class="menu-item" data-value="8m">8 bars</li>
            </ul>
        </div>
        <div class="label">Loop length</div>
    </div>
</subsection>