<subsection class="view-control disabled">
    <div class="control">
        <div class="label">Grid</div>
        <div class="grid dropdown-menu">
            <div><span class="value">1/16</span><span class="fa fa-caret-down"></span></div>
            <ul>
            <li class="menu-item" data-value="16n">1/16</li>
            <li class="menu-item" data-value="8t">1/8T</li>
            <li class="menu-item" data-value="8n">1/8</li>
            <li class="menu-item" data-value="8n + 16n">1/8&bull;</li>
            <li class="menu-item" data-value="4t">1/4T</li>
            <li class="menu-item" data-value="4n">1/4</li>
            <li class="menu-item" data-value="4n + 8n">1/4&bull;</li>
            <li class="menu-item" data-value="2t">1/2T</li>
            <li class="menu-item" data-value="2n">1/2</li>
            <li class="menu-item" data-value="2n + 4n">1/2&bull;</li>
            <li class="menu-item" data-value="1n">1</li>
            </ul>
        </div>
    </div>
    <div class="control">
        <div class="label">Zoom</div>
        <div class="zoom dropdown-menu">
            <div><span class="value">1 bar</span><span class="fa fa-caret-down"></span></div>
            <ul>
            <li class="menu-item" data-value="1m">1 bar</li>
            <li class="menu-item" data-value="2m">2 bars</li>
            <li class="menu-item" data-value="4m">4 bars</li>
            <li class="menu-item" data-value="8m">8 bars</li>
            </ul>
        </div>
    </div>
</subsection>
<subsection class="transport-control">
    <div class="play-control"><button class="play"><i class="fa fa-play"></i></button><button class="stop"><i class="fa fa-stop"></i></button></div>
    <div class="counter">00:00:00</div>
</subsection>
<subsection class="loop-control">
    <div class="control">
        <div><span class="tempo value" data-min="40" data-max="250">120 bpm</span></div>
        <div class="label">Tempo</div>
    </div>
    <div class="control">
        <div class="loop-length dropdown-menu">
            <div><span class="fa fa-caret-down"></span><span class="value">1 bar</span></div>
            <ul>
            <li class="menu-item" data-value="1m">1 bar</li>
            <li class="menu-item" data-value="2m">2 bars</li>
            <li class="menu-item" data-value="4m">4 bars</li>
            <li class="menu-item" data-value="8m">8 bars</li>
            </ul>
        </div>
        <div class="label">Loop length</div>
    </div>
</subsection>