<subsection class="view-control disabled">
    <div class="control">
        <div class="label">Grid</div>
        <div class="dropdown-menu">
            <div><span class="value">16</span><span class="fa fa-caret-down"></span></div>
            <ul>
            <li class="menu-item" data-value="16">16</li>
            <li class="menu-item" data-value="8">8</li>
            <li class="menu-item" data-value="4">4</li>
            <li class="menu-item" data-value="2">2</li>
            <li class="menu-item" data-value="1">1</li>
            </ul>
        </div>
    </div>
    <div class="control">
        <div class="label">Zoom</div>
        <div class="dropdown-menu">
            <div class="value">1 bar</div>
            <ul>
            <li class="menu-item" data-value="1">1 bar</li>
            <li class="menu-item" data-value="2">2 bars</li>
            <li class="menu-item" data-value="4">4 bars</li>
            <li class="menu-item" data-value="8">8 bars</li>
            </ul>
        </div>
    </div>
</subsection>
<subsection class="transport-control">
</subsection>
<subsection class="loop-control">
</subsection>